{
	"insecure-registries": [ "{{ docker.registry.host }}:{{ docker.registry.port }}" ],
    "log-driver": "json-file",
    "log-opts": {
        "max-size": "{{ docker.max_size }}",
        "max-file": "{{ docker.max_file }}",
        "compress": "{{ docker.compress }}"
    }
}